<?xml version="1.0" encoding="utf-8" ?>
<info>
  
  <downloadSource>
    <address>https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19/nakaza.json</address>
    <fileName>diseaseData</fileName>
  </downloadSource>
  
  <email>
    <sender>
      <name>ATNET_WINSERVICE_KON0355_COVIDTRACKER</name>
      <address>kon0355covidtracker@seznam.cz</address>
      <subject>WinService CovidTracker Report</subject>
      <password>atnetcovidtrackerkon0355</password>
      <smtp>smtp.seznam.cz</smtp>
      <port>465</port>
    </sender>
    
    <receiver>
      <name>Lukas Kondiolka</name>
      <address>lukaskondiolka@seznam.cz</address>
    </receiver>
  </email>
  
</info>

